
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f; /* make the body background dark gray */
    color: #fff; /* white text */

}

#content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2b2b2b; /* slightly lighter gray background for content */
    border-radius: 5px; /* add a slight border radius */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* box-shadow to match the title */

}

input, button {
    font-size: 1rem;
    border-radius: 5px; /* make buttons and inputs have round corners */

}

#actor-input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333; /* dark background for inputs */
    color: #fff; /* white text */

}

#search-btn {
    padding: 5px 10px;
    background-color: #ffc107; /* golden button */
    color: #1f1f1f; /* dark text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-btn:hover {
    background-color: #ffca2c; /* slightly lighter golden color on hover */
}

.wrapper1 {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px; /* Add some space between the radar chart and the timeline chart */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
    background-color: #f1f1f1;
    border-radius: 4px;
}

#graph {
    width: 70%;
    height: 800px;
    position: relative;
}

#graph svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
select#graph-type {
    font-size: 1rem;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #545454 url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 4 5'><path fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>") no-repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    cursor: pointer;
}

select#graph-type option {
    background: rgba(255, 255, 255, 0.3);
}


select#sort-selector {
    font-size: 1rem;
    color: white;
    padding: 5px 25px;
    border: none;
    border-radius: 5px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #545454 url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 4 5'><path fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>") no-repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    cursor: pointer;
}

select#sort-selector option {
    background: rgba(255, 255, 255, 0.3);
}

#info {
    width: 25%;
    padding: 1em;
    border-left: 1px solid #ccc;
    background-color: #4d4d4d; /* slightly darker gray for side info */
    color: #fff; /* white text for better contrast */
}

#actor-info, #shared-movies-info {
    margin-bottom: 1em;
    background-color: #4d4d4d; /* slightly darker gray for side info */
    color: #fff; /* white text for better contrast */
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

h2, h3 {
    margin-top: 0;
    color: #ffc107; /* golden color for headers */
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.chart-svg {
    width: 100%;
}

.chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
}

.radar-chart {
    max-width: 60%; 
    margin-left: auto;
    margin-right: auto;
}


#info-movie {
    width: 27%;
    padding: 1em;
    border-left: 1px solid #ccc;
    position: sticky;
    top: 0;
    background-color: #4d4d4d; /* slightly darker gray for side info */
    color: #fff; /* white text for better contrast */
}

.movie-chart {
    max-width: 80%; 
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}

.movie-info-chart {
    margin-bottom: 1em;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-left: 5px;
    margin-right: 5px;
    position: sticky;
    top: 0;
    background-color: #333; /* slightly darker gray for side info */
    color: #fff; /* white text for better contrast */
}

.title {
    text-align: center;
    padding: 10px;
    background-color: #1f1f1f;  /* dark gray background */
    color: #ffc107;  /* golden text color */
    font-size: 2em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 4px solid #ffc107;  /* golden border */
    letter-spacing: 1px;  /* space between letters for a more aesthetic look */
}

h1 {
    margin: 0;  /* remove the default margin around the h1 tag */
}
